@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

/* Root Variables */
:root {
  --ff-sans: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-400: .937rem;
  --fs-500: 1.25rem;
  --fs-600: 1.624rem;
  --fs-900: 2.5rem;

  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-yellow: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-neut-dark-blue: hsl(234, 12%, 34%);
  --clr-neut-grayish-blue: hsl(229, 6%, 66%);
  --clr-neut-light-gray: hsl(0, 0%, 98%);
}

/* Global Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Default Margins */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Core Body Styles */
body {
  min-height: 100vh;
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  background-color: var(--clr-neut-light-gray);
  color: var(--clr-neut-grayish-blue);
  overflow-y: scroll;
}

/* Text Wrapping */
h1, h2, h3, h4 {
  line-height: 1.1;
  text-wrap: balance;
  color: var(--clr-neut-dark-blue);
}

/* Wrapper Class */
.wrapper {
  padding-inline: 2rem;
  width: min(90%, 62rem);
  margin-inline: auto;
}

.wrapper--narrow {
  max-width: 34.37rem;
}

/* Header Styling */
header {
  text-align: center;
  margin-block: 6rem;
}

header > p {
  font-size: var(--fs-500);
}

/* Layout Grid */
.layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.375rem;
  grid-template-areas: 
    "teal"
    "red"
    "yellow"
    "blue";
}

/* Card Styles */
.card {
  padding: 2rem;
  border-top: 8px solid;
  border-radius: .5rem;
  box-shadow: 0 1rem 1.5rem -.5rem var(--clr-neut-dark-blue);
  background-color: white;
}

/* Card Specific Colors */
.teal { border-top-color: var(--clr-cyan); grid-area: teal; }
.red { border-top-color: var(--clr-red); grid-area: red; }
.yellow { border-top-color: var(--clr-yellow); grid-area: yellow; }
.blue { border-top-color: var(--clr-blue); grid-area: blue; }

/* Card Image Styling */
.card img {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

/* Headings & Spans */
h1 { font-weight: var(--fw-light); }
h2 { font-size: var(--fs-600); margin: 0; }
span { font-weight: var(--fw-bold); }

/* Attribution */
.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* Media Query for Larger Screens */
@media (min-width: 48em) {
  .layout-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". red ."
      "teal red blue"
      "teal yellow blue"
      ". yellow .";
  }
}
